html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(103, 212, 255);
  padding: 0 1em 0 1em;
}
.nav-bar > form :first-child {
  width: 400px;
  font-size: 16px;
}

textarea {
  resize: none;
}

.add-form,
.update-form {
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4em 0;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
}

.close-form {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.add-form > form,
.update-form > form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: baseline;
  transform: scale(0.8);
}

.add-form form input,
.add-form form textarea,
.update-form form input,
.update-form form textarea {
  margin-bottom: 1em;
  width: 100%;
  font-size: 1.3em;
  padding: 0.7em;
  outline: none;
}

.add-form form textarea,
.update-form form textarea {
  font-size: 1.5em;
}

.add-form form button,
.update-form form button {
  width: 100px;
  font-size: 1.3em;
  background: #4590ff;
  color: white;
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 15px;
}

.add-form form *,
.update-form form * {
  border-radius: 15px;
}
